crypto pki import thetrustpoint certificate
-----BEGIN CERTIFICATE-----
MIIFrDCCBJSgAwIBAgITTwAAAAtPdtPf+CioqwAAAAAACzANBgkqhkiG9w0BAQsF
ADBRMRUwEwYKCZImiZPyLGQBGRYFbG9jYWwxFzAVBgoJkiaJk/IsZAEZFgdhbnNp
YmxlMR8wHQYDVQQDExZhbnNpYmxlLVdJTkFEU0VSVkVSLUNBMB4XDTI0MDIxNTE1
MzQwNloXDTI1MDIxNTE1NDQwNlowgY4xITAfBgkqhkiG9w0BCQITEnJ0cjIuYW5z
aWJsZS5sb2NhbDELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAk1EMREwDwYDVQQHEwhQ
YXNhZGVuYTEQMA4GA1UEChMHUmVkIEhhdDENMAsGA1UECxMETkFQUzEbMBkGA1UE
AxMScnRyMi5hbnNpYmxlLmxvY2FsMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIIC
CgKCAgEAuZ9c11p3HBL0h63EQFqBCX2P9a0ydhyi+yRQH1101Jn3t/90bQde4jq/
DSVi9b73as3nwuBV5UOg1qwBD0YEyrD4f+DLMvyIL8ha5NI65ECDVoe7Je/2e2xS
nUty/Wz5so7+/AmAHpNfJViL0A1pTDRaerCEpDozqRzuL9rRkKgEJkx/SXgbBOI3
hUCCAG3nK24Q+hBwSvz1iesilCedLUY3n5+2A35clx521Vl9T7oHyiEACV04iVT/
zZtsMrvHFPGAI8PW62kFWieBSpMvCiuC6Xwe93S9mUwbJ7zBoNM7eear/GwSFWVr
epOTo6GD9xy0iBvzg/8xdrcFWlHdqJQ0cIETbMslsfV3rIuuHRyyK7A+tqJUHPoN
KnG1epbajGzapF77F0y+4nxlY50vE1ZasbA5Xvq83grUb69Andqq/B3y7j9XGoDD
PEqTslvzXKq+IlwmhViRVvzRdcMPHUgvvDn6Mr7aezPWIb//uWqS81xh7MRePbIU
2xszLxYb7iiK5S09zkaJUZxlcIWVg/+c8zgdM/ox5nnCtBMKyxhi6WLZNXEgvZXi
4ByM2K8C95SUJ5FxcGQiOqyUW4DtLo9QbsqJ9yuFxLfBWfIMrdcIpt5DJGIB/ay6
xsgEPM4PiU7US3Wlk+pfd0rl3UkFQeGR2k03XHmAmN3VC/CAWa8CAwEAAaOCAT0w
ggE5MA4GA1UdDwEB/wQEAwIFoDAdBgNVHQ4EFgQUCU6tW0YoeAQ3P20bTQ699wfp
F9MwHwYDVR0jBBgwFoAUOB6CvDOlEH5xlvPg1HLwz/mbipEwWQYDVR0fBFIwUDBO
oEygSoZIZmlsZTovLy8vd2luYWRzZXJ2ZXIuYW5zaWJsZS5sb2NhbC9DZXJ0RW5y
b2xsL2Fuc2libGUtV0lOQURTRVJWRVItQ0EuY3JsMH4GCCsGAQUFBwEBBHIwcDBu
BggrBgEFBQcwAoZiZmlsZTovLy8vd2luYWRzZXJ2ZXIuYW5zaWJsZS5sb2NhbC9D
ZXJ0RW5yb2xsL3dpbmFkc2VydmVyLmFuc2libGUubG9jYWxfYW5zaWJsZS1XSU5B
RFNFUlZFUi1DQS5jcnQwDAYDVR0TAQH/BAIwADANBgkqhkiG9w0BAQsFAAOCAQEA
E3QKbbb8QD+0G4UruoPwhP5h5SkaUU2Zg1HIA4KYLkMuLJczKf25X5KUjYSuyM3x
SGr73i2LumWz9ZExybH4UDzww6OhayBbJXE/0iX1aTLsFwLzyGS2aiG/MTk3MysV
/o2ydPyq6sHyVaM8ClzQmZ7OgVRTzH8e4xtOXsdmlM93BFGtQEyfCV/+cvy1eO4S
KGNeReUF0+AWXfzaER4uF+5kEYlQTW/+8BVXfVgky+SsZWnN9Tp5u2TqoJJ5BGIa
18XrVnbwAGAr8pa+TtbdfPwxRODEkK0iUfyIMgvBETD5hNRISX9Q4njgGKiR8WGv
VXRfF7YZK5QzD51XudhIvw==
-----END CERTIFICATE-----
quit
yes
